.container_sign{
 width: 100%;
 height: 100vh;
 display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;
 background: #FD50B0;
}

.content{
  padding: 30px 30px 30px 30px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.content .title-logo{
  font-size: 48px;
  text-align: center;
  font-weight: bold;
  color: #FD5094;
}

.content label{
  color: #FD5094;
}
.content .button-sign{
  width: 100%;
  padding: 10px;
  border: none;
  background: #E74987;
  box-shadow: 0px 4px 1px #C8497B;
  border-radius: 5px;
  font-size: 14px;
  color: #9D144A;
  cursor: pointer;
}

.content .button-sign:hover{
  opacity: 90%;
}
.content .button-sign:active{
 border: none;
 outline: none;
}
